{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Uwe W. Schäfer">

    <title>{% block title %}Wiesen-Verwaltung{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"     type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% if user.is_authenticated %}
    <div id="wrapper">
 <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://www.hilgertshausen-tandern.de/">
                    <img class="rounded-circle" src="{% static 'images/Hilgertshausen_Wappen.jpg' %}" height=27 border=5px>
                </a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav">
                <li>
                <a class="navbar-brand" href="https://www.hilgertshausen-tandern.de/"> Hilgertshausen</a>
                </li>
                <li>
                    <a class="navbar-brand" href="/obstsorten">Obstsorten</a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a class="p-2 text-dark" href="{% url 'about' %}">About</a>
                        </li>
    {% if user.is_staff %}
                        <li>
                            <a class="p-2 text-dark" href="/">Gruppen Seite</a>
                        </li>
    {% endif %}
                        <li>
                            <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
        <li>
            <a href="{% url 'wiese:wiesen-list' %}"><i class="fa fa-dashboard fa-fw"></i>     Überblick</a>
        </li>
        {% if wiesen_list %}
            <li>
                <a href="#"><i class="fa fa-eye fa-fw"></i> Obstwiesen<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% for instance in wiesen_list %}
                        <li>
                            <a href="{% url 'wiese:wiesen-detail' instance.wiesen_id %}">
                                {{ instance.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- /.nav-second-level -->
            </li>
        {% endif %}
        {% if obstsorten_menu %}
            <li>
            <a href="{% url 'obstsorten' %}"><i class="fa fa-eye fa-fw"></i>  Obstsorten<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                {% for otype in obstsorten_menu %}
                <li>
                    <a href="#"><i class="fa fa-eye fa-fw"></i>{{ otype.name }}<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    {% for o in otype.obstsorten %}
                        <li>
                        <a href="{% url 'obstsorten_detail' o %}"> {{ o }} </a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <!-- /.navo-second-level -->
            </li>
        {% else %}
            <li>
            <a href="{% url 'obstsorten' %}"><i class="fa fa-eye fa-fw"></i>  Obstsorten</a>
            </li>
        {% endif %}
    </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

        <div id="page-wrapper">
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
{% else %}
    <div class="row">
	<div class="d-flex flex-column flex-md-row align-items-center">
        <center>
            <p><h1>Streuobstwiesen der Gemeinde Hilgertshausen</h1></p>
	    <img class="mainpic" src="{% static 'images/Hilgertshausen_Wappen.jpg' %}" width=200>
        </center>
        <p><br></p>
	</div>
        <div class="col-mg-12">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <strong>Sie sind nicht angemeldet.</strong>
                </div>
                <div class="panel-body text-center">
                    Zur Verwendung dieser WWW-Seite benötigen Sie eine Kennung.
                    Diese erhalten Sie bei der Gemeinde Hilgertshausen-Tandern.
		    <h3><a href="{% url 'account_login' %}">Log In</a></h3>
		</div>
            </div>
        </div>
    </div>
{% endif %}
</body>

</html>
