{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Uwe W. Schäfer">

    <title>{% block title %}Wiesen-Verwaltung{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- LeafLet  -->
  <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
  <script src="{% static 'js/leaflet.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leaflet-plugins/leaflet-markercluster/MarkerCluster.css' %}"/>
  <link rel="stylesheet" href="{% static 'leaflet-plugins/leaflet-markercluster/MarkerCluster.Default.css' %}"/>
  <script src="{% static 'leaflet-plugins/leaflet-markercluster/MarkerCluster.js' %}">    </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{% static 'hilgi_map.css' %}">
  
  <script src="{% static 'js/BaumPopUp.js' %}">    </script>
 
</head>
<body>

{% if user.is_authenticated %}
    <nav class="navbar">
        <div class="container-fluid">
        <!-- Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="https://www.hilgertshausen-tandern.de/">
                            <img class="rounded-circle" src="{% static 'images/Hilgertshausen_Wappen.jpg' %}" height=27 border=5px>
                        </a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="https://www.hilgertshausen-tandern.de/"> Hilgertshausen</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a id="nav_obstsorten" class="nav navbar-nav" href="/obstsorten">
                            Obstsorten
                        </a>
                    </li>
{% if user.is_superuser %}
                    {# Administration der WiesenPlanung #}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Pflegeplan
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="nav_blue" class="nav navbar-nav"
                                                     href="/wiese/pflege/baeume/">
                                        Bäume
                                    </a>
                                </li>
                                <li>
                                    <a id="nav_blue" class="nav navbar-nav"
                                                     href="/wiese/pflege/blumen/">
                                        Blumen
                                    </a>
                                </li>
                                <li>>
                                    <a id="nav_blue" class="nav navbar-nav"
                                                     href="/wiese/pflege/graeser/">
                                        Gräser
                                    </a>
                                </li>
                                <li>
                                    <a id="nav_blue" class="nav navbar-nav"
                                                     href="/wiese/pflege/kraeuter/">
                                        Kräuter
                                    </a>
                                </li>
                            </ul>
                        </li>
                </ul>
{% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i id="nav_blue" class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a id="nav_blue" class="nav navbar-nav" href="/hofladen/">
                                    Hofläden
                                </a>
                            </li>
        {% if user.is_staff %}
                            <li>
                                <a class="p-2 text-dark" href="/">Gruppen Seite</a>
                            </li>
        {% endif %}
                            <li>
                                <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a class="p-2 text-dark" href="{% url 'about' %}">Kontakt</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
    </nav>
    <!-- /.navbar-top-links -->
    <div class="row">
        <div class="col-sm-2">
           <nav>
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse collapse in">
                            <ul class="nav" id="side-menu">
                                <li>
                                    <a href="{% url 'wiese:wiesen-list' %}"><i class="fa fa-dashboard fa-fw"></i>     Überblick</a>
                                </li>
                                {% if wiesen_list %}
                                <li>
                                    <a href="#">
                                        <i class="fa fa-eye fa-fw"></i>
                                           Obstwiesen
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="nav nav-second-level">
                                        {% for instance in wiesen_list %}
                                            <li>
                                                <a href="{% url 'wiese:wiesen-detail' instance.wiesen_id %}">
                                                {{ instance.www_name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                {% endif %}
                                {% if obstsorten_menu %}
                                <li>
                                    <a href="{% url 'obstsorten' %}"><i class="fa fa-eye fa-fw"></i>    Obstsorten
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="nav nav-second-level">
                                    {% for otype in obstsorten_menu %}
                                        <li>
                                            <a href="#"><i class="fa fa-eye fa-fw"></i>
                                                {{ otype.name }}
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="nav nav-second-level">
                                                {% for o in otype.obstsorten %}
                                                    <li>
                                                        <a href="{% url 'obstsorten_detail' o %}"> {{ o }} </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'obstsorten' %}"><i class="fa fa-eye fa-fw"></i>  Obstsorten</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- /.sidebar-collapse -->
                    </div>
            <!-- /.navbar-static-side -->
           </nav>
        </div>
        <div class="col-sm-9">
              {% block content %}{% endblock %}
        </div>

    </div>
   
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
{% else %}
    <div class="row">
	<div class="d-flex flex-column flex-md-row align-items-center">
        <center>
            <p><h1>Streuobstwiesen der Gemeinde Hilgertshausen</h1></p>
	    <img class="mainpic" src="{% static 'images/Hilgertshausen_Wappen.jpg' %}" width=200>
        </center>
        <p><br></p>
	</div>
        <div class="col-mg-12">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <strong>Sie sind nicht angemeldet.</strong>
                </div>
                <div class="panel-body text-center">
                    Zur Verwendung dieser WWW-Seite benötigen Sie eine Kennung.
                    Diese erhalten Sie bei der Gemeinde Hilgertshausen-Tandern.
		    <h3><a href="{% url 'account_login' %}">Log In</a></h3>
		</div>
            </div>
        </div>
    </div>
{% endif %}
 
{% block script %} {% endblock %}

</body>

</html>
