{% extends 'wiese/base.html' %}
{% load django_tables2 %}
{% load static %}


  
{% block title %}Streuobstwiesen{% endblock title %}

{% block content %}

<div class="row">
    <h2> Streuobstwiesen</h2>
  
    {% if baeume_statisch %}
        {% if grafik %}
            <!-- statische Präsentation der Bäume mit Pictures aus dem GIS -->
            <img class="img-fluid" src="{% static grafik %}" style="width:100%">
        {% endif %}
    {% else %}
        <!-- Dynamische Präsentation der Bäume mit Laeflet -->
        {{ baeume|json_script:"markers-data" }}
        {{ wiesen|json_script:"wiesen-data" }}

        <div id="map"></div>
    {% endif %}
    <div class="panel-body">
      {% render_table table %}
    </div>


</div>

{% block script %}
  <script src="{% static 'js/wiese_map.js' %}"></script>
{% endblock script %}

{% endblock content %}

