{% extends 'wiese/base.html' %}
{% load static %}
  
{% block title %}Streuobstwiesen{% endblock title %}

{% block content %}

<img class="mainpic" src="{% static grafik %}">

<div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="obstwiesen-liste">
	<thead>
	    <tr>
		<th width="10%">Wiesen Nr.</th>
		<th width="90%">Wiesen Name</th>
	    </tr>
	</thead>
	<tbody>
	    {% for instance in wiesen_list %}
		<tr>
		    <th><button type="button" class="btn btn-default">
			<a href="{% url 'wiese:wiesen-detail' instance.wiesen_id %}">
			  {{ instance.wiesen_id }}</a>
			</button></th>
		    <th>{{ instance.name }}</th>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
</div>

{% endblock content %}
