{% extends 'wiese/base.html' %}
{% load django_tables2 %}
{% load static %}


  
{% block title %}Streuobstwiesen{% endblock title %}

{% block content %}

<div class="row">
    <h2> Streuobstwiesen</h2>
  
    {% if baeume_statisch %}
        <!-- statische Präsentation der Bäume mit Pictures aus dem GIS -->
        <img class="img-fluid" src="{% static grafik %}" style="width:100%">
        <div class="panel-body">
          {% render_table table %}
        </div>
    {% else %}
        <!-- Dynamische Präsentation der Bäume mit Laeflet -->
        {{ markers|json_script:"markers-data" }}

        <div id="map"></div>
    {% endif %}


</div>

{% block script %}
  <script src="{% static 'wiese_map.js' %}"></script>
{% endblock script %}

{% endblock content %}

