{% extends 'wiese/base.html' %}
{% load static %}

{% block content %}
<div class="row">
<h2>{{object.wiesen_id }} - {{ object.name }}</h2>

    {% if grafik %}
	<img class="img-fluid" src="{% static grafik %}"style="width:100%">
    {% else %}
	Keine Grafik vorhanden
    {% endif %}

    {% if object.obstwiese %}
	<p>Die Wiese ist eine Obstwiese</p>
    {% endif %}
   
    {% if object.bluehwiese %}
	<p>Diese Wiese ist eine Blühwiese</p>
    {% endif %}

    <div class="panel-body">
	<table width="100%" class="table table-striped table-bordered table-hover" id="baum-liste">
	    <thead>
		<tr>
		    <th>Baum Nr.</th>
		    <th>Bezeichnung</th>
		    <th>Zustand</th>
		    <th>letzter Schnitt</th>
		</tr>
	    </thead>
	    <tbody>
		{% for instance in trees %}
		    <tr>
			<th><button type="button" class="btn btn-default">
			    {% if instance.url %}
				<a href="{% url 'wiese:baum-detail' instance.baum_id %}">
			      {{ instance.baum_id }}
                </a>
			    {% else %}
			      {{ instance.baum_id }}
			    {% endif %}
			    </button></th>
			<th>
			    {% if instance.url %}
                    <a href="{% url 'wiese:baum-detail' instance.baum_id %}">
                    {{ instance.name }}
                    </a>
			    {% else %}
                    {{ instance.name }}
			    {% endif %}
            </th>
			<th>{{ instance.zustand }}</th>
			<th>{{ instance.letzter_schnitt }}</th>
		    </tr>
		{% endfor %}
	    </tbody>
	</table>
    </div>
</div>
{% endblock %}

