{% extends 'wiese/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xs-9">
        <h2>{{object.wiesen_id }} - {{ object.www_name }}</h2>
    </div>
    <div class="col-xs-3">
        <button type="button" class="btn btn-info" id='getLocation' onclick=getLocation()>Find Me</button>
    </div>

    <!-- Dynamische Präsentation der Bäume mit Laeflet -->
    {{ baeume|json_script:"sorten-layer" }}
    {{ obst_icon|json_script:"obst-icons" }}
    {{ wiese_geo_info|json_script:"wiese-geo-data" }}

    <div id="map"></div>

<!--
    {% if object.obstwiese %}
	<p>Die Wiese ist eine Obstwiese</p>
    {% endif %}
   
    {% if object.bluehwiese %}
	<p>Diese Wiese ist eine Blühwiese</p>
    {% endif %}
-->
    <div class="panel-body">
	<table width="100%" class="table table-striped table-bordered table-hover" id="baum-liste">
	    <thead>
		<tr>
		    <th>Baum Nr.</th>
		    <th>Bezeichnung</th>
		    <th>Zustand</th>
		    <th>letzter Schnitt</th>
		</tr>
	    </thead>
	    <tbody>
		{% for instance in trees %}
		    <tr>
			<th><button type="button" class="btn btn-default">
			    {% if instance.url %}
				<a href="{% url 'wiese:baum-detail' instance.baum_id %}">
			      {{ instance.baum_id }}
                </a>
			    {% else %}
			      {{ instance.baum_id }}
			    {% endif %}
			    </button></th>
			<th>
			    {% if instance.url %}
                    <a href="{% url 'wiese:baum-detail' instance.baum_id %}">
                    {{ instance.name }}
                    </a>
			    {% else %}
                    {{ instance.name }}
			    {% endif %}
            </th>
			<th>{{ instance.zustand }}</th>
			<th>{{ instance.letzter_schnitt }}</th>
		    </tr>
		{% endfor %}
	    </tbody>
	</table>
    </div>
</div>

{% block script %}
  <script src="{% static 'js/wiese_details.js' %}"></script>
{% endblock script %}

{% endblock content %}

