
.bookcover {
  height: 300px;
  width: auto;
}

.wiese.wiesenpic {
  width: 640px;
  height: auto;
}

.wiesenpic {
  width: 1200px;
  height: auto;
}

.baum_det_pic {
  width: 320px;
  height: auto;
}

.baumpic {
  width: auto;
  height: auto;
}

.obstpic {
  width: 100px;
  height: auto;
}

.obst_big_pic {
  width: 400px;
  height: auto;
}

.menupic {
    border : 5px;
}
