{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About Page</h1>

<h3> Darstellung der Streuobstwiesen der Gemenide Hilgertshausen:</h3>
<p>Version: {{VERSION}} </p>

<p>
Dies WWW-Seite soll die Streuobst- und Blühwiesen der Gemeinde Hilgertshausen-Tandern
Ortsteil Hilgertshausen darstellen.
</p>
<p>
Die aufgelisteten Darstellungen können durchaus Fehler beinhalten. Der Verfasser übernimmt auch keine Garantei auf die Richtigekiet der dargestellten
Informationen, insbesondere die Hinweise zur Allergie-Verträglichkeit sind
nur ein Hinweis. es besteht kein Anspruch auf Korrektheit!
</p>

<p>
Die WWW-Seite wurde von der Schäfer & Tobies Software u. Consulting Gmbh erstellt
</p>


<h1>Kontakt</h1>
<table id="contact">
<tbody>
    <th width="40%"></th> <th width="60%"></th>
    <tr>
	<td colspan="2">
	    <h3>Sie erreichen uns unter:</h3>
	</td>
    </tr>
    <tr>
	<th>Postadresse:</th>
	    <td><strong>SCH&Auml;FER &amp; TOBIES</strong></td>
    </tr>
    <tr>
	<th>&nbsp;</th>
	<td>Software und Consulting GmbH</td>
    </tr>
    <tr>
	<th>&nbsp;</th>
	<td>Herbststra&szlig;e 12</td>
    </tr>
    <tr>
	<th>&nbsp;</th>
	<td>86567 Hilgertshausen</td>
    </tr>
    <tr>
	<td colspan="2"><br /></td>
    </tr>
    <tr>
	<th>Telefon:</th>
	<td>0 82 50-9 29 03</td>
    </tr>
    <tr>
	<th>Fax:</th>
	<td>0 82 50-9 29 05</td>
    </tr>
    <tr>
	<td colspan="2"><br /></td>
    </tr>
    <tr>
	<th>e-mail:</th>
	<td><a href="mailto:info@schaefer-tobies.de">info@schaefer-tobies.de</a></td>
    </tr>
    <tr>
	<th>Homepage:</th>
	<td><a href="http://www.schaefer-tobies.de">www.schaefer-tobies.de</a></td>
    </tr>
    <tr>
	<th> Datenschutzerkl&auml;rung</th>
	<td><a href='https://www.schaefer-tobies.de/privacy/'>  Datenschutz</a></td>
    </tr>
    <tr>
	<td colspan="2"> Weitere Angaben nach &sect;6 TDG: </td>
    </tr>
    <tr>
	<th>Vertretungsberechtigter:</th>
	<td>Uwe. W. Sch&auml;fer (Gesch&auml;ftsf&uuml;hrer)</td>
    </tr>
    <tr>
	<th>e-mail:</th>
	<td><a href="mailto:uws@schaefer-tobies.de">uws@schaefer-tobies.de</a></td>
    </tr>
    <tr>
	<th>Handelsregistereintrag:</th>
	<td>HRB 100 958 - M&uuml;nchen</td>
    </tr>
    <tr>
	<th>USt-IdNr.:</th>
	<td>DE154496129</td>
    </tr>
</tbody>
</table>
{% endblock content %}
