{% extends '_base.html' %}
{% load static %}

{% block title %}Info und Aktivitäten{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="jumbotron">
            <!-- <h2>Streuobst- und Blühwiesen der Gemeinde </h2> -->
            <h2>Blüh- und Streuobstwiesen der Gemeinde </h2>
            <img class="mainpic" src="{% static 'images/BluehwieseImage.JPG' %}" width=215>
            <h2>Hilgertshausen - Tandern</h2>
            <p>Ortsteil Hilgertshausen</p>
        </div>
    </div>
    <div class="col-lg-4">
            <p><h1>  <h1></p>
            <p><h3>Hallo {{ user.first_name }} {{ user.last_name }}!</h3></p>
            <p>
                Auf dieser WWW-Seite findest Du alle Informationen
                zu den Streuobstwiesen der Gemeinde.
                <ul>
                    <li>die Position der Wiesen im Gemeindegebiet </li>
                    </li>
                    <li> eine Auflistung aller Bäume auf den jeweiligen Wiesen
                    </li>
                    <li> Informationen zu den Frucht-Sorten
                    </li>
                    <li> Bilder einzelner Bäume und deren Früchte
                    </li>
                    <li> Informationen zu anstehenden gemeinschaftlichen Aktivitäten rund um die Wiesen.
                    </li>
                </ul>
            </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Anstehende Termine
            </div>
            <div class="panel-body">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        im November
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                            <h4>27.11.21 Ausweichtermin 04.12.21</h4>
                            Schneiden von Obstbäumen in Zusammenarbeit
                            mit dem Obst- und Gartenbauverein Hilgertshausen.
                            </li>
                        <li>
                            <h4>Termin wird noch bekannt gegeben</h4>
                            Pflanzen von 4 Maroni Bäumen in Zusammenarbeit
                            mit dem Obst- und Gartenbauverein Hilgertshausen.
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        im Dezember
                    </div>
                    <div class="panel-body">
                            <h4>Termin wird noch bekannt gegeben</h4>
                        <p>
                            Markierung der Obstbäume mit Barcodes und anschließendem Treffen mit Glühwein und Punsch am Lagerfeuer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            Letzter Update am 14.11.21 von Resi u. Uwe Schäfer
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Durchgeführte Aktivitäten
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        08. - 13.11.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Rechen und Säen
                        </p>
                        <p>
                            Diese Woche haben wir auf den zuvor gemähten Flächen am Osterfeuer, Gartelsried-Stadelham, dem Wegzwickl und dem von der Gemeinde gemulchtem Hang östlich der Brünndlkapelle nach gerecht und Blumensamen ausgesät.
                        </p>
                        <p>
                            Der Wegzwickl im Biotop Nr. 52 wurde von Resi unter tatkräftiger Mithilfe von 7 fleißigen Kindern der Mittagsbetreung angesät.
                        </p>
                    </div>
                    <div class="panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={% static 'images/aktionen/2021/Gerd_ElektroSense.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Kinder_Erklärung.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Kinder_Säen.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Rechen_Brünndlhang.jpg' %} style="width:100%;">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 03.11.21 von Uwe Schäfer
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        30.10.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Mähen und Rechen
                        </p>
                        <p>
                            Nachdem die Reifen des gemeindlichen Balkenmähers ausgeschäumt wurden. konnten die Mähaktionen auf den anstehenden Wiesen endlich fortgesetzt werden.
                        </p>

                        <p>
                            Gemäht wurden:
                            <ul>
                                <li>
                                    Gartelsried/Stadelham 2'ter Teil
                                </li>
                                <li>
                                    Osterfeuerwiese
                                </li>
                                <li>
                                    Wegzwickl Biotop Nr. 52
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={% static 'images/aktionen/2021/Osterfeuer_aktion1.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Osterfeuer_beate.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Osterfeuer_stefan.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Osterfeuer_verena.jpg' %} style="width:100%;">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 03.11.21 von Uwe Schäfer
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        23.10.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Rechen des gemulchten Mannrieder-Bergs
                        </p>
                        <p>
                            Leider wurde ein Großteil unserer Vorzeigewiese Mannrieder-Berg von einem örtlichen Bauern versehentlich gemulcht.
                            Da wir die Wiese trocken halten wollen, machten sich wieder fleißige Helfer an die Arbeit. Für die beteiligten jugendlichen kam aber auch der Spass bei der Arbeit nicht zu kurz.
                        </p>
                    </div>
                    <div class="panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={% static 'images/aktionen/2021/Rechen1.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Rechen2.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/MarkusU.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Spass.jpg' %} style="width:100%;">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 24.10.21 von Uwe Schäfer
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        21.10.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Gruppentreffen im Gasthaus Fottner
                        </p>
                        <p>
                            Die besprochenen Themen des Treffens findet Ihr hier:
                            <a href="https://padlet.com/uwewsch/stm1no6rqcl30jvo"> Agenda </a>
                        </p>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 24.10.21 von Uwe Schäfer
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        25.09.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Abtransport des Mähguts der Bürgermeisterwiese mit Jugendlichen
                        </p>
                        <p>
                            Die Bäume auf der Bürgermeisterwiese stehen recht eng
                            aneinander, deshalb ist ein motorisierter Einsatz mit
                            Traktor und Ladewagen schwierig, ohne die
                            Bäume zu beschädigen. Aus diesem Grunde mussten wir
                            uns eine andere Alternative einfallen lassen.
                        </p>
                        <p>
                            Hierbei war uns Michael Heider mit seinem Kaltblut "Stani"
                            eine große Hilfe!
                        </p>
                    </div>
                    <div class="panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={% static 'images/aktionen/2021/BM_Stani.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/BM_Füllen.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/BM_Banana_01.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/BM_Banana_02.jpg' %} style="width:100%;">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 02.10.21 von Uwe Schäfer
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        18.09.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Ansähen von Blumensamen.
                        </p>
                        <p>
                            Der leider verstorbene Naturschutzwächter 
                            Josef Nagl hatte in seiner Tätigkeit 
                            Samen von vielen einheimischen Blumen gesammelt.
                            Ein Teil dieser Samen haben wir mit der
                            freundlichen Unterstützung des
                            Naturschutzwächters Michael Keller aus
                            Oberzeitlbach auf der Wiese Gartelsried/Stadelham
                            ausgesäht.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        17.09.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Am Freitag wurde die Bürgermeisterwiese 
                            wiederum mit 7 Mitstreitern gerecht. 
                        </p>
                    </div>
                    <div class="panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={% static 'images/aktionen/2021/BM_Beate.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/BM_Claus.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/BM_Gabi.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/BM_Gerd.jpg' %} style="width:100%;">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 02.10.21 von Uwe Schäfer
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        15.09.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Rechen der Wiesen Feldkreuz sowie Kunstpfad Ost
                            und Nord
                        </p>
                        <p>
                            Am Mittwoch Abend wurde das Mähgut mit 
                            tatkräftiger Unterstützung von 7 fleißigen
                            Helfern zusammengerecht.
                        </p>
                        <p>
                            Das Mähgut wurde am kommenden Morgen vom
                            Ferlhof abgeholt. 
                        </p>
                    </div>
                    <div class="panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={% static 'images/aktionen/2021/Till.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Sushila.jpg' %} style="width:100%;">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 02.10.21 von Uwe Schäfer
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        10. und 11.09.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Mähen auf den Streuobstwiesen
                        </p>
                        <p>
                            Die Gemeinde hat seit August diesen Jahres einen
                            Balkenmäher für die Pflege der Wiesen in Tandern
                            und Hilgertshausen beschafft. Diesen Mäher, ein 
                            Profigerät aus der Schweiz, haben wir am Freitag
                            und Samstag erstmalig zum Einsatz gebracht.
                            Trotz einiger ungeplanter Schwierigikeiten mit 
                            den Dornen der Schlehen (wir hatten uns zwei
                            Plattfüsse eingehandelt), wurden folgende Wiesen
                            gemäht:
                        </p>
                        <ol>
                            <li>
                                Gartelsried / Stadelham (leider nur zur Hälfte s.o.)
                                <ul>
                                    <li>
                                        Am Freitag und Samstag wurden die
                                        Schlehen und 
                                        das gemähte Gras auch gleich
                                        gerecht.
                                    </li>
                                    <li>
                                        Das Mähgut wurde von der Gemeinde
                                        und dem Landwirt des Oberstloh-Hofes
                                        am kommenden Montag den 13.09.
                                        abgeholt.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Felkreuz
                            </li>
                            <li>
                                Kunstpfad Nord
                            </li>
                            <li>
                                Kunstpfad Ost
                            </li>
                            <li>
                                Bürgermeisterwiese
                            </li>
                        </ol>
                    </div>
                    <div class="panel-body">
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={% static 'images/aktionen/2021/Maehen_01.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Maehen_02.jpg' %} style="width:100%;">
                          </div>
                          <div class="item">
                            <img src={% static 'images/aktionen/2021/Platfuss_01.jpg' %} style="width:100%;">
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer">
                        Erstellt am 02.10.21 von Uwe Schäfer
                    </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        29.07.2021
                    </div>
                    <div class="panel-body">
                        <p>
                            Info Veranstaltung zur Gewinnung neuer Mitstreiter
                        </p>
                        <p>
                          <div class="item">
                            <img src={% static 'images/aktionen/Biene_auf_Hosenknopf.jpg' %} style="width:100%;">
                          </div>
                            Die besprochenen Themen des Treffens findet Ihr hier:
                        <a href="https://padlet.com/uwewsch/xeb6jshpup8cc5mg"> Agenda </a>
                        </p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        17. Oktober 2020
                    </div>
                    <div class="panel-body">
                        <p>
                            Rechen der Blühwiesen am Mannrieder-Berg und Kunstpfad-Ost
                        </p>
                          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                              <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src={% static 'images/aktionen/20201017_101731.jpg' %} style="width:100%;">
                              </div>

                              <div class="item">
                                <img src={% static 'images/aktionen/20201017_101719.jpg' %} style="width:100%;">
                              </div>
                            
                              <div class="item">
                                <img src={% static 'images/aktionen/20201017_093402.jpg' %} style="width:100%;">
                              </div>
                              <div class="item">
                                <img src={% static 'images/aktionen/20201017_093311.jpg' %} style="width:100%;">
                              </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
                        <div class="panel-footer">
                            Erstellt am 24.10.20 von Uwe Schäfer
                        </div>
                    </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        14. Oktober 2020
                    </div>
                    <div class="panel-body">
                        <p>
                            Äpfel schütteln und sammeln für JUZ und Kindergarten
                        </p>
                        <div class="item">
                            <img src={% static 'images/aktionen/Aepfel-Sammeln_20201014.png' %} style="width:100%;">
                        </div>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Große Ansicht
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="clo    se" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myMo    dalLabel">Apfelsaft für die Jugend</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="item">
                                            <img src={% static 'images/aktionen/Aepfel-Sammeln_20201014.png' %} style="width:956px;">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn     btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                    <div class="panel-footer">
                        Erstellt am 24.10.20 von Uwe Schäfer
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>
{% endblock content %}

