{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Streuobst- und Blühwiesen der Gemeinde </h1>
<img class="mainpic" src="{% static 'images/Hilgertshausen_Wappen.png' %}">
<h1>Hilgertshausen - Tandern</h1>
<p>Ortsteil Hilgertshausen</p>
{% if user.is_authenticated %}
  <p>Hi {{ user.email }}!</p>
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
  <p>Sie sind nicht angemeldet.</p>
  <p>Zur Verwndung dieser WWW-Seite benötigen Sie eine Kennung. Diese 
    erhalten Sie bei der Gemeinde Hilgrtshausen-Tandern.</p>
  <p><a href="{% url 'account_login' %}">Log In</a> | </p>
{% endif %}
{% endblock content %}
